.title {
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 10px;
}

.list {
	margin: 0;
	list-style: none;
	/* list-style-image: url('image/arrow.png'); */
}

.item {
	padding-bottom: 8px;
	position: relative;
}

.item::before {
	content: '';
	position: absolute;
	top: 3px;
	left: -40px;
	width: 27px;
	height: 20px;
	background-image: url('image/arrow.png');
	background-repeat: no-repeat;
}

.item_span {
	font-weight: 600;
}
