@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'normalize.css';

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	--font-family: 'Inter', sans-serif;
	--second-family: 'Fira Code', sans-serif;
	--background-color: #f8f9fa;
	--background-secondary-color: #f3f3f3;
	--primary-color: #28a745;
	--error-color: #dc3545;
	--text-primary-color: #212529;
	--text-secondary-color: #6c757d;
	--text-accent-color: #6f42c1;
	--accent-color: #ffc107;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font-family);
	font-size: 16px;
	letter-spacing: 0.5px;
	color: var(--text-primary-color);
	background-color: var(--background-color);
  /* min-width: 880px;
	width: 1250px;
  min-height: 100vh;
	margin: 0 auto;
	box-shadow: 0px 0px 25px 4px rgba(33, 37, 41, 0.12);

	display: flex;
	flex-direction: column; */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
	text-transform: uppercase;
  background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	border-radius: 5px;
  cursor: pointer;
	padding: 13px 25px;
  transition: background-color 0.25s;
}

button:hover {
  background-color: var(--accent-color);
}

button:disabled {
	opacity: 0.5;
  /* background-color: var(--accent-color); */
}
