.buttonPlay {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

/* GameField  */

.wrap {
	width: 880px;
	min-height: 380px;
	background-color: var(--background-secondary-color);
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.timer {
	font-size: 32px;
	color: var(--text-accent-color);
	margin-bottom: 20px;
}

.question {
	font-family: var(--second-family);
	font-size: 22px;
}

.blurredText {
  filter: blur(4px);
  color: var(--text-secondary-color);
}

.input {
	font-family: var(--second-family);
	font-size: 20px;
	color: var(--text-accent-color);
	background-color: var(--background-color);
	width: 540px;
	margin-top: auto;
	border: none;
	padding: 12px 22px;
}

/* .input:focus-visible {
	outline: red;
} */

.input_correct {
	font-family: var(--second-family);
	font-size: 20px;
	color: var(--primary-color);
	background-color: var(--background-color);
	width: 540px;
	margin-top: auto;
	border: none;
	padding: 12px 22px;
	transition: color 0.3s ease;
}

.input_error {
	font-family: var(--second-family);
	font-size: 20px;
	color: var(--error-color);
	background-color: var(--background-color);
	width: 540px;
	margin-top: auto;
	border: none;
	padding: 12px 22px;
	transition: color 0.3s ease;
}

.buttonReset {
	display: block;
  margin-left: auto;
	margin-bottom: 20px;
	background-color: var(--error-color);
}
